

    nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 1111111;
   
    .loghis{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .hisse{
        
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            li{
                position: relative;
           
        }
       
            ul{
                background-color: white;
                width: 120px;
                left: 0;
                height: 80px;
                padding-left: 5px;
                position: absolute;
                top: 30px;
                opacity: 0;
                transition: all 0.5s ease;
                display:flex;
                flex-direction: column;
                justify-content: center;
                gap:5px;
                a{
                    color:forestgreen;
                    transition: all 0.5s ease;
                    &:hover{
                        color: #ffffff;
                        margin-left: 5px;
                    }



                }

            }
            button{
                background-color: #10c98f;
                height: 30px;
            }
        }
    }
}