

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.con{
    max-width: 1400px;
    margin: auto;
    padding: 0 32px;
}
a{
    text-decoration: none
}



@import'nav';
@import'sect1';

